[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
click = "*"
PyYAML = "*"
Jinja2 = "*"
amundsen-databuilder = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
google-api-python-client = "*"
boto3 = "*"
pymysql = "*"
cryptography = "*"
snowflake-sqlalchemy = "*"
sqlalchemy = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"
twine = "*"
wheel = "*"
